/******************************/
/*          GENERAL           */
/******************************/
ul.menu, ul.menu ul {  
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: left;
  list-style-type:none;
}

ul.menu a {
  display: block;
  text-decoration: none;
  text-align: left;
}

ul.menu li {
  margin-top: 1px;
}

/******************************/
/*          PADRES            */
/******************************/
/* normal padres */
ul.menu li a, ul.menu ul.menu li a {
  background: #084B8A;
  color: #fff;
  padding: 0.5em;
}
/* sobre padres */
ul.menu li a:hover, ul.menu ul.menu li a:hover {
  background: #000;
}
/* activo padres */
ul.menu li a.active, ul.menu ul.menu li a.active {
    text-decoration: underline;
    background: #000;
}

/******************************/
/*          HIJOS             */
/******************************/
/* normal hijos */
ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}
/* sobre hijos */
ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}
/* activo hijo */
ul.menu li ul li a.active, ul.menu ul.menu li ul li a.active {
    text-decoration: underline;
    background: #aaa;
    color: #000;
}